CONECT_MONGO={{ lookup("env", "CONECT_MONGO") }}
SENTRY_TOKEN={{ lookup("env", "SENTRY_TOKEN") }}
LOGIN_AB={{ lookup("env", "LOGIN_AB") }}
PASSWORD_AB={{ lookup("env", "PASSWORD_AB") }}
EPOOL_URL={{ lookup("env", "EPOOL_URL") }}
XWAY_TOKEN={{ lookup("env", "XWAY_TOKEN") }}
aws_access_key_id={{ lookup("env", "aws_access_key_id") }}
aws_secret_access_key={{ lookup("env", "aws_secret_access_key") }}
BUCKET={{ lookup("env", "BUCKET") }}
WEIGHT_CALC_URL={{ lookup("env", "WEIGHT_CALC_URL") }}
XWAY_URL={{ lookup("env", "XWAY_URL") }}
AUTH_TO_SERVICE={{ lookup("env", "AUTH_TO_SERVICE") }}
AUTH_TOKEN_XWAY={{ lookup("env", "AUTH_TOKEN_XWAY") }}

YANDEX_QUEUE_AUTH={{ lookup("env", "YANDEX_QUEUE_AUTH") }}
YANDEX_QUEUES={{ lookup("env", "YANDEX_QUEUES") }}
RESERVATION_URL={{ lookup("env", "RESERVATION_URL") }}
RESERVATION_TOKEN={{ lookup("env", "RESERVATION_TOKEN") }}
ENDPOINT_S3={{ lookup("env", "ENDPOINT_S3") }}
