DOCKER_HOST={{ lookup("env", "inventory_hostname") }}
SERVICE_NAME={{ lookup("env", "proj_name") }}
FLUENTD_HOST={{ lookup("env", "ansible_default_ipv4.address") }}

service_name_oracle={{ lookup("env", "SERVICE_NAME_ORACLE") }}
oracle_connect={{ lookup("env", "ORACLE_CONNECT") }}
mysql_connect={{ lookup("env", "MYSQL_CONNECT") }}
TEST={{ lookup("env", "TEST") }}
