{% include 'head.html' %}
{% block title %}
  {% include 'navbar.html' %}
{% endblock %}
{% block content %}

<style>
    .progon_buttons {
      width: 15em;
      padding: 8px 12px;

    }
</style>

<form method="POST">
    <div class="form-group">
      <label for="run_1">Номер прогона</label>
        <div class="progon_buttons">
            <input type="number" name="run_1" class="form-control" placeholder="Введите запрос" required>
        </div>
    </div>
    <div class="form-group">
      <label for="run_2">Номера прогона</label>
        <div class="progon_buttons">
            <input type="number" name="run_2" class="form-control" placeholder="Введите запрос" required>
        </div>
      </div>
    <button type="submit" class="btn btn-primary">Выполнить запрос</button>
</form>

{% if result %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">text_id</th>
              <th scope="col">topic_name</th>
              <th scope="col">comment_text</th>
              <th scope="col">positive phrases run:{{first_run}}</th>
              <th scope="col">positive phrases run:{{second_run}}</th>
              <th scope="col">negative phrases run:{{first_run}}</th>
              <th scope="col">negative phrases run:{{second_run}}</th>
              <th scope="col">neutral phrases run:{{first_run}}</th>
              <th scope="col">neutral phrases run:{{second_run}}</th>
              <th scope="col">over all sentiment label run:{{first_run}}</th>
              <th scope="col">over all sentiment label run:{{second_run}}</th>
            </tr>
          </thead>
          <tbody>
            {% for res in result %}
            <tr>
                <th scope="row">{{res.text_id}}</th>
                <td>{{res.topic_name}}</td>
                <td>{{res.comment_text}}</td>
                <td>{{res.first_run_pos_phrases}}</td>
                <td>{{res.second_run_pos_phrases}}</td>
                <td>{{res.first_run_neg_phrases}}</td>
                <td>{{res.second_run_neg_phrases}}</td>
                <td>{{res.first_run_neut_phrases}}</td>
                <td>{{res.second_run_neut_phrases}}</td>
                <td>{{res.first_run_text_sentiment_label}}</td>
                <td>{{res.second_run_text_sentiment_label}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
            Нет результатов по выбранным прогонам
    {% endif %}


{% endblock content %}
{% include 'footer.html' %}
