{% include 'head.html' %}

{% block title %}
    {% include 'navbar.html' %}
{% endblock %}

<style>
  p {
  }
  .third_theme {
    color: gray;
    font-size: 12px;
  }
  .second_theme {
    color: black;
    font-size: 12px;
  }
</style>

{% block content %}
    {% for run in runs %}
        <a href="{{ url_for('get_markup_counter_by_int', counter=run.counter_id) }}">Run: <b>{{run.counter_id}}</b></a><br>
        <br>
        Domain: <b>{{run.name}}</b>  ({{run.domain_id}})<br>
        Markup date: <b>{{run.run_date}}</b><br>
        <br>
        Total reviews: {{humanize.intcomma(run.reviews_to_process) | replace(",", " ") }}<br>
        Total themes: <b>{{humanize.intcomma(run.reviews_count) | replace(",", " ") }}</b><br>
        <br>
        {% if run.positive_overall%}
        POSITIVE: <b>{{humanize.intcomma(run.positive_overall) | replace(",", " ")}}</b> ({{humanize.clamp(run.positive_overall / run.reviews_count, format="{:.0%}", ceil=0.99)}})<br>
        {% endif %}
        {% if run.negative_overall%}
        NEGATIVE: <b>{{humanize.intcomma(run.negative_overall) | replace(",", " ")}}</b> ({{humanize.clamp(run.negative_overall / run.reviews_count, format="{:.0%}", ceil=0.99)}})<br>
        {% endif %}
        {% if run.neutral_overall %}
        NEUTRAL: {{humanize.intcomma(run.neutral_overall) | replace(",", " ") }} ({{humanize.clamp(run.neutral_overall / run.reviews_count, format="{:.0%}", ceil=0.99)}})<br>
        {% endif %}
        <br>
        <p class="second_theme">
        Theme/Phrases null total: {{humanize.intcomma(run.nulls_topics) | replace(",", " ") }} ({{humanize.clamp(run.nulls_topics / run.reviews_count, format="{:.0%}", ceil=0.99)}}) <br>
        <br>
        Topic dictionaries: {{run.topic_dictionary}}<br>
        Tonality dictionaries: {{run.ton_dictionary}}<br></p>
        <p class="third_theme">
        Markup git version: (commit): {{run.markup_version}}<br>
        Markup working time: {{humanize.time.precisedelta(datetime.timedelta(seconds=run.working_time / 6))}}<br></p>
        <hr>
    {% endfor %}
{% endblock %}

{% include 'footer.html' %}