<nav class="navbar navbar-light bg-light">
    <div>
        <a class="navbar-brand" href="{{ url_for('get_reviews')}}">Reviews</a>
        <a class="navbar-brand" href="{{ url_for('get_markup_reviews')}}">Markup reviews</a>
        <a class="navbar-brand" href="{{ url_for('get_markup_counters')}}">Markup reviews info</a>
        <a class="navbar-brand" href="{{ url_for('get_difference_get')}}">Markup difference</a>
        <a class="navbar-brand" href="{{ url_for('get_difference_more_get')}}">Markup difference more</a>
    </div>
  </nav>