DOCKER_HOST={{ inventory_hostname }}
SERVICE_NAME={{ proj_name }}
SENTRY_DSN={{ sentry_dsn }}
SQL_HOST={{ sql_host }}
SQL_USER={{ sql_user }}
SQL_PASSWORD={{ sql_password }}
SQL_DATABASE={{ sql_database }}