# Base libs
pyyaml
sentry-sdk
fluent-logger
aiomysql
motor
dnspython
#requests

# Project libs
fastapi
fastapi-utils
uvicorn[standard]
httpx
zstandard
python-snappy
aiobotocore
#reportlab
#PyPDF3
#APScheduler

#Other
pytest
pytest-asyncio