SENTRY_DSN={{ lookup("env", "SENTRY_DSN") }}
LOGIN_AB={{ lookup("env", "LOGIN_AB") }}
PASSWORD_AB={{ lookup("env", "PASSWORD_AB") }}
EPOOL_URL={{ lookup("env", "EPOOL_URL") }}
aws_access_key_id={{ lookup("env", "aws_access_key_id") }}
aws_secret_access_key={{ lookup("env", "aws_secret_access_key") }}
BUCKET={{ lookup("env", "BUCKET") }}
MYSQL={{ lookup("env", "MYSQL") }}
CONECT_MONGO={{ lookup("env", "CONECT_MONGO") }}
AUTH_TOKEN={{ lookup("env", "AUTH_TOKEN") }}
XWAY_TOKEN={{ lookup("env", "XWAY_TOKEN") }}
XWAY_URL={{ lookup("env", "XWAY_URL") }}
WEIGHT_CALC_URL={{ lookup("env", "WEIGHT_CALC_URL") }}
MAIL_CRED={{ lookup("env", "MAIL_CRED") }}
OZON_AUTH={{ lookup("env", "OZON_AUTH") }}
YANDEX_QUEUE_AUTH={{ lookup("env", "YANDEX_QUEUE_AUTH") }}
RESERVATION_URL={{ lookup("env", "RESERVATION_URL") }}
RESERVATION_TOKEN={{ lookup("env", "RESERVATION_TOKEN") }}
YANDEX_QUEUE={{ lookup("env", "YANDEX_QUEUE") }}
OZON_URL={{ lookup("env", "OZON_URL") }}
