tqdm==4.64.1
fastapi[all]
fastapi-pagination==0.9.0

#SQL
clickhouse-driver==0.2.4
clickhouse-sqlalchemy==0.2.2
SQLAlchemy==1.4.38
psycopg2-binary==2.9.3

#dev
flake8==5.0.4
passlib[bcrypt]
fastapi-login==1.8.3
humanize==4.4.0
